
/*fonts*/

$font-size-base: 16px;
$font-size-h1: $font-size-base * 2.5; 
$font-size-p: $font-size-base;
$font-family-base: Raleway, sans-serif;
$font-weight-big: 600;

/*indents*/

$margin-base: 20px;
$margin-small: 10px;

/*colors*/

$first-main-color: #FFF;
$second-main-color: #000;
$light-grey-color: #F5F5F5;
$link-hover-color: #E58C88;


$base-bigblock-width-height: 100%;
$bigblock-height: 940px;
$border-radius-max: 50%;
$align-content: center;
$letter-spacing-base: 2px;
